body {
    font-family: Arial, sans-serif;
    background-color: #FF14F4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img {
    display: block; /* Force l'image à occuper toute la largeur disponible */
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-right: 0; /* Réinitialise la marge droite */
}

h1 {
    margin-left: 0; /* Réinitialise la marge gauche */
}
